* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

:root {
    --black-bg-color: rgb(1, 0, 5);
    --white-bg-color: rgba(255, 255, 255, 1);
    --bg-color: #242479;
    --box-bg-color: rgba(190, 197, 204, 0.952);
}

body {
    align-items: center;
}


/* header */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white-bg-color);
    padding: 12px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
}

header .logo {
    font-size: 20px;
    font-weight: bold;
}

header .logo span {
    color: var(--bg-color);
    padding-left: 5px;
}

.container {
    display: flex;
    align-items: center;
}

header .container .notification {
    position: relative;
    margin: 0 12px 0;
    cursor: pointer;
}

header .container .notification p {
    color: black;
    padding-right: 12px;
}

header .container .help .fa-circle-question {
    font-size: 18px;
    margin: 0 12px 0;
    cursor: pointer;
}

header .container .notification p .fa-envelope {
    font-size: 19px;
    cursor: pointer;
}

header .container .notification span {
    position: absolute;
    top: -10px;
    right: 4px;
    color: var(--bg-color);
    font-weight: bold;
    font-size: 15px;
}

header .profile img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid var(--bg-color);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
}


/* footer */

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white-bg-color);
    box-shadow: 5px 0 12px rgba(0, 0, 0, 0.2);
}

.footer a {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: var(--black-bg-color);
    width: 31vw;
    padding: 15px 0;
    font-size: 17px;
}

.footer i {
    padding-bottom: 5px;
}


/* body */

.cash-container {
    width: 95vw;
    background-color: var(--box-bg-color);
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
    padding: 4px;
    margin: 100px auto 0 auto;
    color: var(--black-bg-color);
    border-radius: 10px;
    max-width: 100%;
}

.cash-container .money-container {
    padding: 12px;
    background-color: rgba(88, 79, 79, 0.562);
    margin: 2px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.cash-container .money-container .bal {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    padding: 10px 0 0 0;
    color: var(--white-bg-color);
}

.cash-container .money-container .cash {
    font-size: 21px;
    margin: 20px 0 10px 20px;
    font-weight: 700;
    padding: 10px 0 0 20px;
    background-color: rgba(26, 1, 1, 0.274);
    padding: 12px;
    border-radius: 10px;
    color: var(--white-bg-color);
    display: inline-block;
}

.cash-container .money-container .cash span {
    background-color: var(--box-bg-color);
    padding: 5px;
    border-radius: 5px;
    letter-spacing: 1.2px;
    color: var(--bg-color);
}

.cash-container .transact {
    display: flex;
    align-items: center;
}

.cash-container .transact .mny {
    width: 100%;
    border-radius: 7px;
    text-align: center;
}

.cash-container .transact .mny a {
    color: var(--white-bg-color);
    background-color: var(--bg-color);
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 20px 0;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
    margin: 2px;
}

.cash-container .transact .mny:hover {
    transform: scale(1.02);
}

.transactions-container {
    width: 95vw;
    background-color: var(--box-bg-color);
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
    padding: 12px;
    margin: 10px auto 100px auto;
    border-radius: 5px;
    color: var(--white-bg-color);
}

.transactions-container p {
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    padding: 20px 0;
}

.transactions-container .transactions li {
    list-style-type: none;
    background-color: rgb(109, 111, 116);
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
    padding: 15px;
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.transactions-container .transactions li .cash-message {
    font-size: 18px;
    font-weight: 700;
    padding-right: 10px;
}

.transactions-container .transactions li .received-message {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    text-align: right;
    font-weight: bold;
}

.transactions-container .transactions li .received-message .transfer-date {
    font-weight: 300;
    font-size: smaller;
}

.transactions-container button {
    margin: 20px auto 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    background-color: var(--bg-color);
    color: var(--white-bg-color);
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

.transactions-container button:hover {
    transform: scale(1.02);
}


/* food */

.food-container {
    width: 95%;
    margin: 100px auto;
    background-color: rgba(190, 197, 204, 0.952);
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
}

.food-container h2 {
    padding: 10px 0;
    font-size: 30px;
    color: var(--bg-color);
}

.food-container p {
    margin-bottom: 5px;
    color: var(--bg-color);
}

.food-container p sup {
    font-size: 15px;
    color: var(--bg-color);
}

.food-container h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    font-size: 25px;
    color: var(--bg-color);
    display: none;
}

.food-container .all-food ul {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    width: 100%;
}

.food-container .all-food ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--bg-color);
    color: var(--white-bg-color);
    border-radius: 5px;
    padding: 20px;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    margin: 3px;
    width: 24%;
}

.food-container .all-food ul li span {
    width: 100%;
    padding: 2px 0;
    word-wrap: break-word;
}

.selection-amount {
    width: 49%;
}

.selection-amount .amount {
    background-color: rgba(88, 79, 79, 0.562);
    border-radius: 5px;
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 12px 10px;
    height: 60px;
    width: 100%;
    word-wrap: break-word;
    flex-wrap: wrap;
}

.selection-amount .amount #result {
    font-weight: bold;
    word-wrap: break-word;
    max-width: cal(100% - 40px);
    color: var(--bg-color);
    font-size: 21px;
}

.selection-amount .amount .btn {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 100px;
    height: 50px;
    font-size: 17px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: var(--bg-color);
    color: var(--white-bg-color);
    padding: 8px 12px;
    cursor: pointer;
}

.selection-amount .amount .btn:hover {
    transform: scale(1.02);
}

@media screen and (max-width: 670px) {
    header {
        padding: 5px 12px;
    }
    .food-container .all-food ul li {
        width: 48%;
    }
    .selection-amount {
        width: 98%;
    }
    .cash-container .money-container .bal {
        font-size: 17px;
    }
    .cash-container .money-container .cash {
        font-size: 17px;
    }
    .cash-container .transact .mny a {
        font-size: 14px;
    }
    .transactions-container .transactions li .cash-message {
        font-size: 14px;
    }
    .transactions-container .transactions li .received-message {
        font-size: 14px;
    }
    .transactions-container p {
        font-size: 17px;
    }
    .transactions-container button {
        font-size: 13px;
    }
    .food-container h2 {
        font-size: 24px;
    }
    .food-container .all-food ul li {
        font-size: 14px;
    }
    .selection-amount .amount #result {
        font-size: 18px;
    }
    .selection-amount .amount .btn {
        font-size: 14px;
    }
    .settings-container .profile-settings .image-settings button {
        padding: 10px 20px;
    }
    .settings-container .profile-settings .image-settings {
        margin: 10px;
    }
    .settings-container h2 {
        font-size: 25;
    }
    .settings-container ul li a .desc .desc-info h3 {
        font-size: 17px;
    }
    .settings-container ul li a .desc .desc-info p {
        font-size: 14px;
    }
    .footer a {
        font-size: 16px;
        padding: 10px 0;
    }
}

@media screen and (max-width: 350px) {
    .food-container .all-food ul li {
        width: 90%;
        margin: 3px auto;
    }
    .selection-amount {
        width: 92%;
        margin: 3px auto;
    }
}


/*Settings*/

.settings-container {
    width: 95vw;
    background-color: var(--box-bg-color);
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
    padding: 4px;
    margin: 100px auto 100px auto;
    color: var(--black-bg-color);
    border-radius: 10px;
    max-width: 100%;
}

.settings-container h2 {
    color: var(--bg-color);
    padding: 12px;
    font-size: 30px;
}

.settings-container .profile-settings {
    display: flex;
    align-items: center;
    padding: 7px 12px;
    max-width: 100%;
}

.settings-container .profile-settings img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    cursor: pointer;
    border: 5px solid var(--bg-color);
    object-fit: contain;
}

.settings-container .profile-settings .image-settings {
    margin: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.settings-container .profile-settings .image-settings p {
    color: var(--bg-color);
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.settings-container .profile-settings .image-settings button {
    border: none;
    background-color: var(--bg-color);
    color: var(--white-bg-color);
    width: 100%;
    padding: 15px 25px;
    border-radius: 5px;
    font-size: 18px;
    margin: 30px 0 0px 0;
    cursor: pointer;
}

.settings-container ul {
    list-style-type: none;
    margin: 5px;
    max-width: 100%;
}

.settings-container ul li {
    width: 100%;
    background-color: rgb(109, 111, 116);
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 10px;
}

.settings-container ul li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white-bg-color);
}

.settings-container ul li a .desc {
    display: flex;
    align-items: center;
}

.settings-container ul li a .desc i {
    font-size: 25px;
    border: 1px solid var(--bg-color);
    border-radius: 50%;
    padding: 10px;
    color: var(--bg-color);
    margin-right: 10px;
}

.settings-container ul li a i {
    margin-left: 5px;
    margin-right: 2px;
}

.settings-container button {
    border: none;
    background-color: var(--bg-color);
    color: var(--white-bg-color);
    border-radius: 5px;
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto 5px auto;
    padding: 20px;
    font-size: 14px;
    cursor: pointer;
}

.settings-container button i {
    margin-right: 10px;
}

.settings-container button:hover {
    transform: scale(1.02);
}